.profile-page {
  .profile-card {
    width: 100%;
    max-width: min(875px, 100%);
    background-color: #e8effa;
    border-radius: 16px;

    .ant-card-body {
      & > .ant-flex {
        align-items: center;

        @media screen and (max-width: 500px) {
          flex-direction: column;
        }
      }
    }

    .ant-avatar {
      width: min(200px, 100%);
      aspect-ratio: 3 / 3;
      height: auto;

      span {
        font-size: 25pt;
      }
    }

    strong {
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #181717;
    }

    .profile-info {
      .ant-typography {
        display: flex;
        align-items: center;
        gap: 8px;

        span {
          color: #181717;
        }

        path {
          stroke: #181717;
        }
      }
    }
  }

  .profile-tabs {
    flex-wrap: wrap;

    a {
      flex: 1;
    }

    button {
      width: 100%;
      height: auto;
      padding: 20px;
      background-color: #e8effa !important;
      border-radius: 16px;
      border: none;

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
      }
    }
  }

  .profile__send-article {
    .ant-image {
      overflow: hidden;
      flex: 1;
      border-radius: 16px;
      max-height: 400px;
      min-width: min(300px, 100%);

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .instruction {
      flex: 1;
      background-color: #e8effa;
      padding: 35px;
      border-radius: 16px;
      min-width: min(300px, 100%);

      h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
        letter-spacing: 0%;
        text-align: center;
        color: #181717;
      }

      span.ant-typography {
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        color: #181717;
      }
    }
  }
}
