@use "../../variables";

.profile-page {
  .profile-card {
    width: 100%;
    max-width: min(875px, 100%);
    background-color: #e8effa;
    border-radius: 16px;

    .ant-card-body {
      & > .ant-flex {
        align-items: center;

        @media screen and (max-width: 500px) {
          flex-direction: column;
        }
      }
    }

    .ant-avatar {
      width: min(200px, 100%);
      aspect-ratio: 3 / 3;
      height: auto;

      span {
        font-size: 25pt;
      }
    }

    strong {
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #181717;
    }

    .profile-info {
      .ant-typography {
        display: flex;
        align-items: center;
        gap: 8px;

        span {
          color: #181717;
        }

        path {
          stroke: #181717;
        }
      }
    }
  }

  .profile-tabs {
    flex-wrap: wrap;

    a {
      width: 100%;
      flex: 1;

      &.active button {
        background-color: #4a63ab !important;
        * {
          color: #fff;
        }
        path,
        rect {
          stroke: #fff;
        }
      }
    }

    button {
      width: 100%;
      height: auto;
      padding: 20px;
      background-color: #e8effa !important;
      border-radius: 16px;
      transition: 0.4s ease;
      border: none;
      gap: 23px;

      svg {
        width: 100%;
      }

      span {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
      }
    }
  }

  .profile__send-article {
    .ant-image {
      overflow: hidden;
      flex: 1;
      border-radius: 16px;
      max-height: 400px;
      min-width: min(300px, 100%);

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .instruction {
      flex: 1;
      background-color: #e8effa;
      padding: 35px;
      border-radius: 16px;
      min-width: min(300px, 100%);
      overflow: hidden;

      h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
        letter-spacing: 0%;
        text-align: center;
        color: #181717;
      }

      span.ant-typography {
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        color: #181717;
      }
    }

    .form-box-container {
      background-color: #e8effa;
      padding: 20px;
      border-radius: 16px;

      .form-box {
        .base-inputs {
          label {
            display: flex;
            flex-direction: column;
            gap: 12px;
            @include variables.responsive_card(600, 1100, 1400, 20);

            .ant-select,
            .ant-select-selection-wrap {
              height: 60px;
            }

            .ant-picker {
              padding: 0 11px;
            }

            input {
              border-radius: 16px;
              border: none;
              height: 60px;
              color: #4a63ab;
            }
          }
        }

        label {
          display: flex;
          flex-direction: column;
          gap: 12px;

          input,
          textarea {
            border-radius: 16px;
            border: none;
            height: 60px;
            color: #4a63ab;
          }

          textarea {
            padding: 18px;
            min-height: 180px;
          }

          .authors-input {
            input {
              @include variables.responsive_card(600, 1100, 1400, 20);
            }
          }
        }
      }
    }
  }
}
