@use "../../variables";

.journal-card {
  border-radius: 16px;

  .ant-card-body {
    padding: 15px 22px;

    .ant-btn {
      padding: 0;
    }

    * {
      color: variables.$medium-text-color;
    }

    .journal-btns {
      .ant-btn {
        border-radius: 12px;
        padding: 0 15px;
      }

      .detail-btn {
        background-color: variables.$primary-color;

        * {
          color: #fff;
        }
      }
    }
  }
}
