$primary-color: #4a63ab;
$background-color: #ffffff;
$extra-dark-color: #b9c3e0;
$extra-medium-color: #cdd4e9;
$extra-light-color: #e4e8f3;
$secondary-color: #e8effa;

$dark-text-color: #181717;
$medium-text-color: #4a63ab;
$light-text-color: #fff;
