@use "../variables";

.root-layout {
  flex: 1;

  .root-header {
    .header-top {
      background-color: variables.$primary-color;
      padding-top: 20px;
      padding-bottom: 20px;

      @media screen and (max-width: 500px) {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      * {
        color: #fff;
      }

      .header-control {
        .ant-btn {
          @media screen and (max-width: 450px) {
            display: none;
          }
        }
      }

      span {
        white-space: nowrap;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
      }

      .ant-select {
        .ant-select-selector {
          background-color: transparent;
          border: none;
        }
      }
    }

    .header-bottom {
      background-color: variables.$secondary-color;
      padding-top: 15px;
      padding-bottom: 15px;
      overflow-x: auto;

      @media screen and (max-width: 1200px) {
        padding-top: 10px;
        padding-bottom: 10px;

        .links {
          display: none;
        }

        .menu-btn {
          display: block !important;
          color: #fff;
          font-size: 13pt;
          padding: 8px 10px;
          width: auto;
          min-height: 40px;
        }
      }

      @media screen and (max-width: 500px) {
        .primary-btn {
          padding: 3px 16px;
          min-height: 40px !important;

          span {
            font-size: 10pt;
          }
        }

        .ant-image {
          min-width: 80px;

          width: min(110px, 100%);
        }
      }

      .menu-btn {
        display: none;
      }

      .links {
        overflow-x: auto;
        overflow-y: hidden;
        padding: 10px;
        span {
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          color: #4a63ab;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        a {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 2px;
            border-radius: 20px;
            background-color: #4a63ab;
            opacity: 0;
            transition: 0.4s ease;
          }

          &.active::before {
            opacity: 1;
          }
        }
      }
    }
  }

  .root-main {
    flex: 1;

    &:not(:has(.send-article)) {
      margin-bottom: 60px;
    }
  }

  .root-footer {
    background-color: variables.$primary-color;
    padding-top: 82px;
    padding-bottom: 34px;

    * {
      color: #fff !important;
    }

    img {
      filter: brightness(0) invert(1);
    }

    .ant-btn {
      justify-content: flex-start;
      padding: 0;
    }

    .footer-nav {
      column-gap: 160px;
      row-gap: 80px;
    }

    .social-links {
      .ant-btn {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: auto;
        aspect-ratio: 1 / 1;
      }
    }
  }
}

.ant-drawer {
  .ant-drawer-body {
    padding: 0;
  }

  .links {
    gap: 14px;
    align-items: center;

    .nav-link {
      width: 100;
      position: relative;

      &::before {
        transition: background-color 0.2s ease;
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 2px;
      }

      &.active {
        &::before {
          background-color: #4a63ab;
        }
      }

      span {
        color: #4a63ab;
      }
    }
  }
}
